<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/css/style.css" />
		<link rel="stylesheet" href="/stylesheets/css/filtrostyle.css" />
		<link rel="stylesheet" href="/stylesheets/css/map.css" />

	</head>
	<body>
<<<<<<< HEAD
		<%- include("navbar") %>

		<div id="map"/>
		
		<div id="map-filters">
			
		</div>
=======
		<h1><%= title %></h1>
		<p>Welcome to the <%= title %></p>
		
<<<<<<< HEAD
		<div id="#mapContainer">
			<%- include("filtros") %>
			<div id="map"/>
		</div>
=======
		
		<%- include("filtros") %>
		<div id="map"/>
>>>>>>> fca01f45429155102394d3f75a3924f0db376088
>>>>>>> 4436129ed7e24f7c0325088b28431999cdcee9b6

		<script src="/javascripts/map/mainMap.js"></script>
		<script
			async
			defer
			src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
	</body>
</html>
